APP_NAME=faynoSync-squirrel-example
VERSION=0.0.1
CHANNEL=nightly
OWNER=admin
BASE_URL=http://localhost:9000
EDGE_URL=
REPORT_KEY=
REPORT_INTERVAL_MS=60000
AUTO_DOWNLOAD=false

APPLE_ID="you@company.com"
APPLE_APP_SPECIFIC_PASSWORD="app-specific-password"
APPLE_TEAM_ID="YOUR_TEAM_ID"